<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      
      <title>underServed</title>

      <link href="../static/css/restaurants.css" rel="stylesheet">
      <!-- Bootstrap core CSS -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom styles for this template -->

   </head>

	<body>

   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
            <h1 id="title">Where should I open a restaurant?</h1>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center explanation">
            <div>Enter a type of cuisine, e.g., Japanese</div>
         </div>
      </div>      

      <br>
      
      <div class="row">
         <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
            <form role="form" action="/output" method="GET">

               <div class="form-group">
                  <input type="text" class="form-control" id="ID" name="ID" placeholder="Type of Cuisine">
                  <br>
                  <button type="submit" class="btn btn-default btn-lg">Return best zipcodes!</button>
               </div>

            </form>
         </div>
      </div>     
      
      <div class="row">
         <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
            <h3 id="results-title">List of Suggested Locations!</h3>
            {% if areas != []%}
            <p class="explanation">Check out the zipcodes below!</p>
            {% else %}
            <p class="explanation" style="color: darkblue">Patience! This is an MVP! ^0^<br>
            Model for {{ cuisine }} cuisine is not yet available.</p>
            {% endif %}
			</div>
      </div>

      
      <div class="row">
         <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            {% if areas != []%}
            <div class="table-responsive">
               <table class="table table-striped table-hover text-center">
    	          <tr><th class="text-center">Zipcode</th><th class="text-center">Score</th></tr>
    	             {% for area in areas %}
                     <tr><td class="list-results">{{ area['zipcode'] }}</td><td class="list-results">{{ area['score']}}</td></tr>
    	             {% endfor %}
               </table>
               {% endif %}
            </div>
		    </div>
      </div>

      <!--
		<div class="container">
			<div class="starter-template">
				<h3>Another Result:</h3>
				<p class="lead">Now we've taken the input and called a function from 
					your package.<br>The result is {{the_result}}</p>
			</div>
      </div> -->
   </div>

		<!-- Bootstrap core JavaScript
		================================================== -->
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
   <script src="static/js/restaurants.js"></script>
   
	</body>
</html>
