<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      
      <title>underServed</title>

      <!-- Bootstrap core CSS -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/typeahead.css" rel="stylesheet">
      <link href="../static/css/restaurants.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700,600,400' rel='stylesheet' type='text/css'>
      
   </head>
   
   <body>

   <div class="container">
   
      <div class="row margin-sm">
      
         <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center">
         
            <h3 id="zippage-title">Info on {{ borough }}, {{ zip }}</h3>
            
         </div>
      
      </div>
      
      <div class="row">
      
         <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-left">
         
            <div>Growth in number of restaurants:</div>
            <div>The mean (owner) housing price is: </div>
            <div>The total population is : </div>
            <div>The transient population (est) is: </div>
            <div>The median income is: </div>

            
         </div>
      
      </div>
      <!--
      <div class="row">
      
         <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-left">
   
            <a href="/output" style="color: white;">Back to main page</a>.
      
         </div>
         
      </div>
      unneeded as info page opens in new tab-->  
      
      </div>

   
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>

      
      <!-- Add Fancy Box js -->
      <link rel="stylesheet" href="../static/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
      <script type="text/javascript" src="../static/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
      
      <script src="static/js/typeahead.bundle.min.js"></script>
  
      <script src="static/js/restaurants.js"></script>

   
   </body>
</html>
