<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      
      <title>underServed</title>

      <!-- Bootstrap core CSS -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/typeahead.css" rel="stylesheet">
      <link href="../static/css/restaurants.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700,600,400' rel='stylesheet' type='text/css'>
      
   </head>
   
   <body role="document" style="font-family: 'Alegreya';font-size:16px;">

   <div class="container">
   
      <div class="row margin-sm">
      
         <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
         
            <h3 class="zippage-title">More Information</h3>
            <h4 class="zippage-title">{{ cuisine_title }} restaurants in {{ borough }}, NY, {{ zip }} </h4>

         </div>
      
      </div><br>
      <!--
      <div class="row">
      
         <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-left">
         
            <div>The mean (owner) housing price is: </div>
            <div>The total population is : </div>
            <div>The transient population (est) is: </div>
            <div>The median income is: </div>

         </div>
      
      </div><br>-->
      
      <div class="row">
      
         <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-left">
            
            <div class="row">
               According to the model, there is a 
               {% if dx[2] == "0" %}
               <span style="font-style:bold;font-size:18px;color:white;">{{ dx[0] }} sigma deficit</span>
               {% else %}
               <span style="font-style:bold;font-size:18px;color:white;">{{ dx[0] }} sigma overcapacity</span>
               {% endif %}
               in the number of {{ cuisine_title }} 
               restaurants in this area relative to similar areas in NYC.
               Based on the model,
               {% if dx[3] != "" %}
               this is a {{ dx[3] }} recommendation for opening a new restaurant.
               {% else %}
               this area already has enough or too many restaurants.
               {% endif %}
               <br><br>
               
               The number of restaurants (of any cuisine type) in this zipcode has 
               grown at <span style="font-style:bold;font-size:18px;color:white;">{{ growth_rate[0] }} times the median growth rate </span>in NYC.<br><br>
               
               The number of restaurants in 2012 was <span style="font-style:bold;font-size:18px;color:white;">{{ growth_rate[1] }} times </span>the number of
               restaurants in 2001.<br><br>
            <!--<div class="row">
               RENTAL PRICES?
            </div><br>-->            
               See more restaurants of the same cuisine type in the vicinity (<em>Note: not restricted to same zipcode)</em><br>
               <div class="text-center">
               <a class="btn btn-sm btn-success" href= {{ yelp_url }}>Go to Yelp!</a>
               </div>
            
            </div>
         </div>
      
      </div>

   </div>

   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>

      
    <!-- Add Fancy Box js -->
   <link rel="stylesheet" href="../static/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
   <script type="text/javascript" src="../static/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
      
   <script src="static/js/typeahead.bundle.min.js"></script>
  
   <script src="static/js/restaurants.js"></script>

   
   </body>
</html>
